@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-slide > div {
    margin: 0 10px;
}

.slick-dots{
    bottom: -45px !important; 
}
.slick-dots li button:before {
    color: #0E4669 !important;
    font-size: 10px !important;
}

.swiper-button-prev,
.swiper-button-next {
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  width: 24px !important; /* even smaller width */
  height: 24px !important; /* even smaller height */
}
.swiper-container .swiper-button-prev {
    left: 10px !important;
  }
  .swiper-container .swiper-button-next {
    right: 10px !important;
  }